{% extends "base.html" %}
{% block content %}

<div id="toc">
    <div class="row">
        {% for col in content %}
        <div class="col s4">
            {% for folder in col %}
                <span class="folder-name"> {{folder.name}} </span>
                {% for file in folder.files %}
                    <a href="{{ file }}.html" class="file-name">{{ file }}</a>
                {% endfor %}
            {% endfor %}
        </div>
        {% endfor %}

    </div>
</div>
<!--<div id="main" class="ui container toc">
<div class="ui sticky top menu">
<a class="item" href='/latest/'>
ofDoc
</a>

<div class="right menu">
<div class="item">
<div class="ui transparent icon input">
<input type="text" placeholder="Search...">
</div>
</div>
</div>
</div>


<h1 class="ui dividing header mainheader">openFrameworks Documentation</h1>

<div class="ui relaxed grid">
<div class="three column row">
{% for col in content %}
<div class="column">
{% for folder in col %}
<div class="ui link list">
<div class="active item folder">
{{folder.name}}
</div>
{% for file in folder.files %}
<a href="{{ file }}.html" class="item">{{ file }}</a>
{% endfor %}
</div>
{% endfor %}
</div>
{% endfor %}

</div>
</div>
-->


{% endblock %}
