{% extends "base.html" %}
{% block pagetitle %}openFrameworks - {{ pageTitle }}{% endblock %}

{% block content %}
<div id="documentation">
    <div class="row">

        <!-- SIDE MENU -->
        <div class="col m3" id="sidemenu">

            <div class="navigator">
                <div class="breadcrump">
                    <ul>
                        <li>
                            <a href="/latest">{{ folder }}</a>
                        </li>
                        <li class="splitter">
                            >
                        </li>
                        <li>
                            <a href="#" data-activates='dropdown1' class="dropdown-button" style="width:225px; display:inline-block">{{ file }}</a>
                        </li>
                    </ul>
                    <!-- Dropdown Structure -->
                    <ul id='dropdown1' class='dropdown-content'>
                        {% for file in otherFilesInFolder %}
                        <li><a href="/latest/{{file}}.html">{{file}}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="sections-navigator">
                    {% for item in content %}
                    {% if item.sections|length > 0 %}
                    <span class="class">{{ item.name }}</span>
                    <ul class="section">
                        {% for section in item.sections %}
                        <li class="chapter">
                            <a href="#{{ section.anchor }}">{{ section.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- END SIDE -->

        <!-- MAIN CONTENT -->
        <div class="col m9 offset-m3" id="documentation-content">
            <!--{% if showPageTitle %}
            <h4 class="item-header"> {{ file }}</h4>
            {% endif %}-->

            {% for item in content %}
            <div class="item">
                <div class="actions">
                    {% if item.markdownUrl %}
                    <a href="{{ item.markdownUrl }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="View documentation on github"><i class="zmdi zmdi-edit"></i></a>
                    {% endif %}
                    {% if item.sourceUrl %}
                    <a href="{{ item.sourceUrl }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="View source on github"><i class="zmdi zmdi-code"></i></a>
                    {% endif %}
                </div>

                <h4 class="item-header">
                    {{item.name}}
                    <span class="header-label">{{item.type}}</span>
                </h4>

                {% if item.extends %}
                <div class="inherits-header">
                    <!--{{item.type}} <i class="zmdi zmdi-github-alt"></i>-->
                        Inherits from:
                        {% for extend in item.extends %}
                        {{extend}}
                        {% if not loop.last %}
                        ,&nbsp;
                        {% endif %}
                        {% endfor %}
                </div>
                {% endif %}

                <div class="inline-doc framed">
                    {{ item.documentation.text}}
                </div>
                <div class="markdown-doc">
                    {{ item.documentation.markdown}}
                </div>


                <!-- Methods -->
                {% for method in item.methods %}
                <div class="method {{ 'deprecated' if method.deprecated else '' }}">
                    {% if method.section and (loop.first or  item.methods[loop.index-2].section != method.section) %}
                    <h5 class="section-header" id="{{method.section_anchor}}">{{ method.section }}</h5>
                    {% endif %}

                    <ul class="collapsible" data-collapsible="accordion" id="{{ method.anchor }}">
                        <li>
                            <div class="collapsible-header">
                                <span class="method-name">{{ method.name }}</span>
                                <span class="kind"> ()</span>

                                {% if method.deprecated %}
                                <span class="deprecated-notice">deprecated</span>
                                {% endif %}

                                {% if method.variants[0].documentation.brief %}
                                <span class="brief"> {{ method.variants[0].documentation.brief }}</span>
                                {% endif %}

                            </div>
                            <div class="collapsible-body">

                                <!-- Variants -->
                                <ul class="collection">

                                    {% for variant in method.variants %}
                                    <li class="collection-item">
                                        <div class="memberVariant">
                                            <span class="variant-type">{{variant.returns}} </span>
                                            <span class="variant-name">{{method.name}}</span>
                                            <span class="variant-args">({{variant.parameters}})</span>
                                            {% if variant.inherited %}
                                            <span class="inherited">Inherited from <a href="{{ variant.inherited }}.html">{{ variant.inherited }}</a></span>
                                            {% endif %}
                                        </div>

                                        <!-- inline documentation -->
                                        {{variant.documentation.text}}

                                        <!-- parameters -->
                                        {% if variant.documentation.parameters %}
                                        <div class="parameters">
                                            <h6>Parameters</h6>

                                            <table>
                                                <tbody>
                                                    {% for key,val in variant.documentation.parameters.iteritems() %}
                                                    <tr>
                                                        <td class='arg-name'>
                                                            {{ key }}
                                                        </td>
                                                        <td>
                                                            {{ val }}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        {% endif %}
                                        <!-- end parameters -->


                                        {% if variant.documentation.returns %}
                                        <div class="returns">
                                            <h6>Returns</h6>
                                            {{ variant.documentation.returns }}
                                        </div>
                                        {% endif %}

                                        {% if variant.documentation.warning %}
                                        <div class="warning">
                                            <h6>Warning</h6>
                                            {{ variant.documentation.warning }}
                                        </div>
                                        {% endif %}

                                        {% if variant.documentation.sa %}
                                        <div class="sa">
                                            <h6>See also</h6>
                                            <ul>
                                                {% for sa in variant.documentation.sa %}
                                                <li>{{sa}}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                    <!-- End variants -->

                                    <!-- Markdown documentation  -->
                                    {% if method.variants[0].documentation.markdown %}
                                    <li class="collection-item">
                                        <h6>Description</h6>
                                        <div class="markdown-doc">{{ method.variants[0].documentation.markdown}}</div>
                                    </li>
                                    {% endif %}

                                </ul>
                                <!-- End variants -->
                            </div>
                        </li>
                    </ul>

                </div>
                {% endfor %}
                <!-- End methods -->


                <!-- Variables  -->
                {% for variable in item.member_variables %}
                {% if variable.section and (loop.first or variable[loop.index-2].section != variable.section) %}
                <h5 class="section-header" id="{{variable.section_anchor}}">{{ variable.section }}</h5>
                {% endif %}

                <ul class="collapsible" data-collapsible="accordion" id="{{ variable.anchor }}">
                    <li>
                        <div class="collapsible-header">
                            <span class="variable-type">{{variable.kind}} </span>
                            <span class="variable-name">{{ variable.name }}</span>
                            <span class="kind variable-kind"> {{ variable.type }}</span>

                            {% if variable.documentation.brief %}
                            <span class="brief"> {{ variable.documentation.brief }}</span>
                            {% endif %}
                        </div>
                        <div class="collapsible-body">
                            <ul class="collection">
                                <li class="collection-item">
                                    <!--<div class="memberVariant">
                                        <span class="type">{{variable.kind}} </span>
                                        <span class="name">{{variable.name}}</span>
                                    </div>-->
                                    {{variable.documentation.text}}


                                    <!-- enum options -->
                                    {% if variable.enum_options %}
                                    <div class="parameters" style="margin-top:15px">
                                        <table>
                                            <tbody>
                                                {% for val in variable.enum_options %}
                                                <tr>
                                                    <td class='arg-name'>
                                                        {{ val.name }}
                                                    </td>
                                                    <!--<td style="color:gray">
                                                        {{ val.value }}
                                                    </td>-->
                                                    <td >
                                                        {{ val.documentation.text }}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% endif %}
                                    <!-- end options -->


                                    {% if variable.options %}
                                    {% endif %}

                                </li>

                                {% if variable.documentation.markdown %}
                                <li class="collection-item">
                                    <div class="markdown-doc">{{ variable.documentation.markdown}}</div>
                                </li>
                                {% endif %}

                            </ul>
                        </div>

                    </li>
                </ul>
                {% endfor %}
                <!-- End variables  -->

            </div>
            {% endfor %}
            <!-- end content -->

        </div>
    </div>
</div>
{% endblock %}
