$sourceCodeFont : 'Source Code Pro', monospace;
$brandColor : #ee3987;
$documentationGridColor : #E8E8E8;


body {
    background: #ccc;
}

// Overwrite materialize standards
nav {
    background-color: white;
    a {
        color: black !important;
    }
}


.zmdi {
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
}


// Inline code blocks
.prettyprint {
    background-color: rgba(0,0,0,0.04);
    padding: 1px 4px;
    border-radius: 3px;
}

// Code style
.codehilite {
    .prettyprint {
        padding:0;
        background-color: transparent;
        font-family: $sourceCodeFont;
    }
    margin: 14px 0;
    padding-left: 34px;
    padding: 8px 20px;
    font-size: 12px;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;

    a {
        font-weight: 600;
    }
}

.main {
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px;
    box-shadow: 5px 5px 5px #aaa, -5px 0 5px #aaa;
    padding-bottom:122px;
}

#top-bar {
    position: fixed;
    top:0px;
    z-index:100;
    width: 100%;
    height: 75px;
    //border-bottom: 1px solid #E6E6E6;
    //padding: 15px 0px;
    .container {
        padding:15px 40px;
        background: white;
        height:100%;
        border-bottom: 1px solid #E6E6E6;
    }

    a {
        color:black;
    }
    .oFlogo {
        width: 86px;
    }
    .header {
        display: inline;
        font-weight: 300;
        text-transform: uppercase;
        margin-left: 5px;
        position: relative;
        top: -13px;
        font-size: 16.5px;
    }


    .input-field {
        margin: 0;
    }

    input {
        border: 1px solid  #E6E6E6;
    }

    label {
        top: -50px;
        position: relative;
        i {
            font-size: 2em;
        }
    }

    #search-result {
        max-width: 500px;
        max-height: 600px;
        min-width: 100%;
        overflow:scroll;
        position: absolute;
        top: 46px;
        right: -2px;
        background: white;
        border: 1px solid #E6E6E6;
        li {
            list-style: none;

            &:hover {
                background-color: rgb(247, 247, 247);
            }

            a {
                padding: 5px 9px;
                display: block;
                color:black;
                text-align: right;
                font-size: 16px;

                .searchName {
                    margin-right:6px;
                }
                .searchType {
                    font-weight: 200;
                }
                .searchClass {
                    font-weight: 200;
                }
            }
        }
    }
}

// Front page
#toc {
    padding-bottom:150px;

    .folder-name, .file-name {
        display: block;
    }

    .folder-name {
        font-size: 16px;
        color: $brandColor;
        margin-top:12px;
    }
    a.file-name {
        color:gray;
        font-weight: 300;

        &:hover {
            color:black;
        }
    }
}

#documentation {
    .navigator-wrap {
        position: fixed;
        padding-bottom: 200px;
        height: 100%;
        overflow: hidden;
    }
    .navigator {
        height: 100%;
        overflow: auto;

        .breadcrump {
            font-weight: 300;
            margin-bottom: 25px;
            li {
                display:inline;
            }
        }

        .class {
            font-weight:300;
            font-size:19px;

        }
        .section {
            margin:0;
            margin-bottom: 12px;
            margin-left:10px;
            margin-top: 3px;
            padding:0;
            font-weight:300;
        }

        a {
            color: black;
            transition-duration: 0.3s;
            font-weight: 300;
        }

        .selected {
            a {
                margin-left: -4px;
                color: $brandColor;
            }
        }
    }

    #documentation-content {
        padding-top:15px;
    }

    .collapsible {
        box-shadow: none;
        margin-bottom: 1px;
        margin-top: 3px;
        border: 0;

        .collection-item {
            position: relative;
            background: transparent;
            padding-left:15px;
            border-top: 1px solid $documentationGridColor;
            &:first-child{
                border:0;
            }
        }

        .collapsible-header {
            border-bottom:1px solid white;
            min-height: 10px;
            max-height: 50px;
            line-height: 22px;
            overflow: hidden;
            transition-duration: 0.3s;
            font-weight: 300;
            position: relative;
        }
        .collapsible-body {
            border:0;

            p {
                padding: 0;
            }
        }

        li {
            border: 1px solid white;
        }
        li.active {
            border: 1px solid $documentationGridColor;
            transition-duration: 0.3s;
            margin-bottom:15px;

            .deprecated-notice {
                opacity: 1.0;
            }

            .variable-type {
                max-width: 100px;
                margin-right:8px;
            }

            .collapsible-header {
                transition-duration: 0.3s;
                border-bottom:1px solid $documentationGridColor;

                min-height: 3rem;
                line-height:3rem;

                color: $brandColor;

                max-height: 25px;
            }
        }

    }

    .item-header {
        font-size: 37px;
        margin-top:0;
    }

    .actions {
        transition-duration: 0.1s;
        opacity: 0.0;
        position: absolute;
        right: 5px;
        top: 5px;
        i {
            font-size: 1.3em;
        }
        a {
            color: gray;
            display: inline-block;
            margin-left: 10px;

            &:hover{
                color: $brandColor;
            }
        }


        .zmdi-edit {
            top: -2px;
            font-size: 1.1em;
        }

    }

    .action-block:hover {
        .actions {
            opacity: 1.0;
        }
    }

    .inherits-header {
        color: #AFAFAF;
        margin-top: -17px;
        font-weight: 300;
    }

    .header-label {
        font-size: 0.6em;
        font-weight: 300;
        color: #AFAFAF
    }

    .deprecated {
        .method-name {
            text-decoration: line-through;
            color: #BFBFBF;
        }
    }
    .kind {
        color:#D2D2D2;
        letter-spacing: 1px;
        font-family: $sourceCodeFont;

        &.variable-kind {
            margin-left: 8px;
        }
    }
    .variable-name, .method-name {
        font-family: $sourceCodeFont;
        font-weight: 400;
    }
    .variable-type {
        display:inline-block;
        max-width: 0px;
        transition-duration: 0.3s;
        overflow:hidden;
        white-space: nowrap;
        font-family: $sourceCodeFont;
        color: $brandColor;
        height:17px;
        margin-right:0px;
    }
    .brief {
        color: #ccc;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 15px;
        margin-bottom: 5px;
        display: block;
    }
    .deprecated-notice {
        opacity: 0;
        color: $brandColor;
        transition-duration: 0.3s;
    }

    .variant-name {
        font-weight: bold;
    }

    .memberVariant {
        font-family: $sourceCodeFont;
        font-size: 0.9em;
    }

    h6 {
        font-weight: 500;
    }

    blockquote {
        border-left-color: $brandColor;
        color: #777;
    }

    .markdown-doc, .inline-doc {

        h1 {
            font-size: 36px;
        }
        h2 {
            font-size: 32px
        }
        h3 {
            font-size: 28px;
        }
        h4 {
            font-size: 22px;
        }
        h5 {
            font-size: 18px;
        }


    }

    .inline-doc {
        &.framed {
            margin: 20px 0;
            padding-left: 20px;
            border-left: 5px solid #A9A9A9;
            color: #777;
        }

        &:hover {
            //border: 1px solid #A9A9A9;
        }
    }

    .item {
        margin-bottom: 50px;
        position: relative;
    }

    .parameters {
        .arg-name {
            font-family: $sourceCodeFont;
            font-weight: 600;
        }
    }

    table {
        width:inherit;

        tr {
            &:last-child {
                td {
                    border-bottom: 0;
                }
            }
        }
        td {
            padding: 2px 9px;

            border-right: 1px solid $documentationGridColor;
            border-bottom: 1px solid $documentationGridColor;

            &:last-child {
                border-right: 0;
            }
        }

    }

    a {
        color: $brandColor
    }


}

#footer {
    background-color: black;
    margin-top: -122px;
    margin-bottom: -20px;

    color: #aaa;

    padding: 10px 40px;
    text-align: center;
    font-size: 13px;

    a {
        color: white;
    }
}
