    <!DOCTYPE html>
    <html>
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properities -->
        <title>ofDoc -  {{ pageTitle }}</title>
        <link rel="stylesheet" type="text/css" class="ui" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="style.css">

        <!-- font -->
        <link href="http://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text/css">

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
        <script src="script.js"></script>

    </head>
    <body>




    <div class="ui maincontainer" style="margin-top:50px;">
        <nav class="navigator" role="navigation">
            <ul id="nav-parts">
              <li class="group selected">
                Topics
                <ul id="topics">
                    <span class="class">{{ pageTitle }}</span>
                    {% for section in sections %}
                    <li class="chapter">
                        <a href="#{{ section.anchor }}">{{ section.title }}</a>
                    </li>
                    {% endfor %}
<!--
                    {% if extends %}

                    <span class="class">Extends</span>
                    {% for extend in extends %}
                    <li class="chapter">
                        <a href="{{extend}}.html">{{ extend }}</a>
                    </li>
                    {% endfor %}

                    {% endif %}
-->
                </ul>
            </li></ul>
          </nav>

        <div id="content">
        <h1 class="ui dividing header">{{pageTitle}}</h1>

        {% if extends %}
        <div class="subheader">Inherits from:
            {% for extend in extends %}
                <a href="{{extend}}.html">{{ extend }}</a>
                {% if not loop.last %}
                ,&nbsp;
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        {{ inline_description }}

        {% for method in methods %}
            {% if method.section and (loop.first or  methods[loop.index-2].section != method.section) %}
            <h3 class="ui hedaer section-header" id="{{method.section_anchor}}">{{ method.section }}</h3>
            {% endif %}
            <div class="ui accordion method">
              <div class="title">
                <span class="group-name">{{ method.name }}</span> <span class="kind">()</span>
              </div>
              <div class="content">
                {% for variant in method.variants %}
                  {% if not loop.first %} <hr> {% endif %}
                  <div class="container">
                    <div class="memberVariant">
                        <span class="type">{{variant.returns}} </span>
                        <span class="name">{{method.name}}</span>
                        <span class="args">({{variant.parameters}})</span>
                        {% if variant.inherited %}
                        <span class="inherited">Inherited from <a href="{{ variant.inherited }}.html">{{ variant.inherited }}</a></span>
                        {% endif %}
                    </div>
                    <div class="description">
                        {{variant.documentation.text}}

                        {% if variant.documentation.parameters %}

                        <div class="parameters">
                            <div class="ui tiny header">Parameters</div>

                            <table class="ui very basic collapsing celled table">
                                  <tbody>
                                    {% for key,val in variant.documentation.parameters .iteritems() %}
                                    <tr>
                                      <td>
                                          {{ key }}
                                      </td>
                                        <td>
                                          {{ val }}
                                      </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}

                        {% if variant.documentation.returns %}
                        <div class="returns">
                            <div class="ui tiny header">Returns</div>
                            {{ variant.documentation.returns }}
                        </div>
                        {% endif %}

                        {% if variant.documentation.warning %}
                        <div class="warning">
                            <div class="ui tiny header">Warning</div>
                            {{ variant.documentation.warning }}
                        </div>
                        {% endif %}

                        {% if variant.documentation.sa %}
                        <div class="sa">
                            <div class="ui tiny header">See also</div>
                            <ul>
                                {% for sa in variant.documentation.sa %}
                                <li>{{sa}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>


                  </div>
                {% endfor %}
              </div>

            </div>
        {% endfor %}


        {% for variable in member_variables %}
            {% if variable.section and (loop.first or variable[loop.index-2].section != variable.section) %}
            <h3 class="ui hedaer section-header">{{ variable.section }}</h3>
            {% endif %}

            <div class="ui accordion method">
              <div class="title">
                <span class="group-name">{{ variable.name }}</span> <span class="kind">variable</span>
              </div>
              <div class="content">
                  <div class="container">
                    <div class="memberVariant">
                        <span class="type">{{variable.type}} </span>
                        <span class="name">{{variable.name}}</span>
                    </div>
                    <div class="description">
                        {{variable.inlined_description}}
                    </div>
                  </div>

              </div>

            </div>
        {% endfor %}
        </div>


    </div>
<!--
    <div id="toc">
<div class="ui vertical inverted sticky menu sticky following top" style="left: 0px; width: 250px !important; height: 1813px !important; margin-top: 0px; ">


<div class="item">
  <a class="ui logo icon image" href="/">
    <img src="/images/logo.png">
  </a>
  <a href="/"><b>UI Docs</b></a>
</div>
<a class="item" href="/introduction/getting-started.html">
  <b>Getting Started</b>
</a>
<a class="item" href="/introduction/new.html">
  <b>New in 2.1</b>
</a>
<div class="item">
  <div class="header">Introduction</div>
  <div class="menu">

      <a class="item" href="/introduction/integrations.html">
        Integrations
      </a>

      <a class="item" href="/introduction/build-tools.html">
        Build Tools
      </a>

      <a class="item" href="/introduction/advanced-usage.html">
        Recipes
      </a>

      <a class="item" href="/introduction/glossary.html">
        Glossary
      </a>

  </div>
</div>
<div class="item">
  <div class="header">Usage</div>
  <div class="menu">

      <a class="item" href="/usage/theming.html">
        Theming
      </a>

      <a class="item" href="/usage/layout.html">
        Layouts
      </a>

  </div>
</div>
<div class="item">
  <div class=" header">Globals</div>
  <div class="menu">

      <a class="item" href="/globals/reset.html">
        Reset

      </a>

      <a class="item" href="/globals/site.html">
        Site

      </a>

  </div>
</div>


</div>
</div>
-->
<script>

</script>
</body>